body {
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #12273b;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.pro{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.labels {
    margin-right: 30px;
}
